nav.global-nav{
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
}

nav div.nav-title {
    font-size: 2rem;
}

.global-nav .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: green;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
