#container {
    height: 100%;
    width: 100vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    opacity: 0;
    transition: all 1s ease-in;
    height: 100%;
}

.image.active {
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease-in;
}
